.list_yel {
    background-color: #eede00;
}

.list_red {
    background-color: #ffcfca;
}

.list_white {
    background-color: #ffffff;
}

.transp {
    background-color: transparent !important;
    box-shadow: none !important;
}

.transp_9, .transp_9 * {
    background-color: rgba(255,255,255, 0.5) !important;
    box-shadow: none !important;
}

.transp_all, .transp_all * {
    background-color: transparent !important;
    box-shadow: none !important;
}

.video_noise_320 {
    width: 320px;
    height: 240px;
}